.App {
  text-align: center;
}
#banner{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/imgs/alexander-kaunas-xEaAoizNFV8-unsplash.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30rem;
}
.seasons {
  width: 100px;
  height: 100px;
}
.nav {
  width: 70px;
}
.morePad {
  padding-bottom: 50px;
}
.evenMorePad {
  padding-bottom: 10rem;
}

#about {
  background-color: #F1E189;
}

.svg {
  width: 40rem;
}
#places {
  background-color: #01c5c4;
}
.top {
  padding-top: 12rem;
}
.smallTop {
  padding-top: 6rem;
}
.smallBot {
  padding-bottom: 6rem;
}

.locations {
  width: 250px;
  height: 250px;
}

